global
  log global
  option httplog
  log 127.0.0.1:514  local0 
  stats socket /var/lib/haproxy/stats level admin
  chroot /var/lib/haproxy
  user haproxy
  group haproxy
  daemon

defaults
  log global
  mode  http
  option httpchk GET /example/v1/items # With actuator it would be: /monitoring/health
  http-check expect status 200         # http-check expect string UP
  option  httplog
  option  dontlognull
        timeout connect 5000
        timeout client 50000
        timeout server 50000

frontend hafrontend
    bind *:80
    mode http
    default_backend app-servers

backend app-servers
    mode http
    balance roundrobin
    option forwardfor
{% for host in groups['apps'] %}
    server {{ host }} {{ host }}:{{ springboot_port }} cookie {{ host }} check
{% endfor %}
